In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [36]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [37]:
df = pd.read_csv('../data/processed/jp_for_model.csv')
df.head(3)

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,0,79.33,1,78.33,0,1,77.48,0,1,86.5,1,66.28,0
1,0,65.00,1,68.00,1,2,64.00,1,0,75.0,1,57.80,0
2,0,56.00,1,52.00,1,1,52.00,0,0,66.0,0,59.43,1

## Escalamiento de datos

In [38]:
scaler = StandardScaler()

In [39]:
# Escalamiento de los datos x
df_scaled = scaler.fit_transform(df.drop('status',axis=1))
df_scaled = pd.DataFrame(df_scaled)
df_scaled['status'] = df['status']
df_scaled.columns = df.columns
df_scaled

,gender,ssc_percentage,ssc_board,hsc_percentage,hsc_board,hsc_subject,degree_percentage,undergrad_degree,work_experience,emp_test_percentage,specialisation,mba_percent,status
0,-0.738549,1.127071,0.897391,1.274342,-0.819836,0.831028,1.576083,-1.528069,1.354006,1.120931,0.888523,0.697573,0
1,-0.738549,-0.227165,0.897391,0.173501,1.219756,2.526325,-0.327385,0.432472,-0.738549,0.237775,0.888523,-0.780938,0
2,-0.738549,-1.077698,0.897391,-1.531577,1.219756,0.831028,-2.021868,-1.528069,-0.738549,-0.453391,-1.125463,-0.496743,1
3,-0.738549,1.738510,0.897391,0.770278,1.219756,-0.864269,0.985839,0.432472,-0.738549,1.911932,0.888523,-1.181949,0
4,-0.738549,-1.172202,-1.114342,-1.766025,-0.819836,0.831028,0.131537,-1.528069,1.354006,-1.298150,0.888523,-1.865412,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-0.738549,1.247091,-1.114342,1.665444,-0.819836,-0.864269,1.593028,0.432472,-0.738549,1.466514,0.888523,2.129009,0
200,-0.738549,-0.888691,-1.114342,-0.679038,-0.819836,0.831028,0.802270,-1.528069,-0.738549,0.160978,0.888523,-1.509732,0
201,-0.738549,-0.038158,-1.114342,0.066934,-0.819836,-0.864269,0.943476,0.432472,1.354006,-0.990965,0.888523,1.297347,0
202,1.354006,0.623367,-1.114342,-0.039634,-0.819836,-0.864269,-1.174627,0.432472,-0.738549,-0.146206,-1.125463,-0.357261,0
203,-0.738549,-0.510676,0.897391,-0.892172,-0.819836,0.831028,-1.880661,0.432472,-0.738549,1.312922,-1.125463,-0.359004,1

## split de datos

In [41]:
x = df_scaled.drop('status',axis=1)
y = df_scaled['status']

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.35,random_state=42)
#print(f'shape de x_train = {x_train.shape} and shape de x_test = {x_test.shape}')
#print(f'shape de y_train = {y_train.shape} and shape de y_test = {y_test.shape}')